<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <base href="./">
    <link rel="stylesheet" href={{ url_for('static', filename='index.css') }}>
    <title>|Elias Olie | Nlp Brasil |</title>
</head>
<body>
    <div class="nav-items">
        <p><a href="/">< NLP/> Basil</a></p>
        <nav>
            <ul>
                <li>
                   <a href="/contato">Contato</a> 
                </li>
            </ul>
            
            <ul>
                <li>
                    <a href="/sobre">Sobre</a> 
                </li>
            </ul>

        </nav>
    </div>

    <div class="main-content">
        <h1> < NLP/> Brasil </h1>
        <p>Natural Language Processing</p>
        <div class="frase-form">
            <form action="/", method="POST">
                <input id="phrase" type="text" name="phrase" placeholder="Processar frase">
                <div class="botao">
                    <input type="submit" name="botao" placeholder="Processar frase" class="botaoEnviar" />
                </div>

            </form>
        </div>
    </div>
</body>
</html>